body {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#container {
    display: flex;
    flex-direction:row;
    background-color: beige;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px;  
}

.top-container{
    display:flex;
    height: 100px;
    width: 100%;
}
.bot-inside-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}
.bot-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    height: 800px;
    width: 800px;
    justify-content: space-between;
    align-content: center;
  
}

.button-container {
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#btn {
    width: 100px;
}
.sixteen{
    display: flex;
    height: 30px;
    width: 30px;
    border: solid;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0px; 
    padding: 0px;   
    box-sizing: border-box;
}
.four{
    display: flex;
    height: 120px;
    width: 120px;
    border: solid;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0px; 
    padding: 0px;   
    box-sizing: border-box;
}
.two{
    display: flex;
    height: 240px;
    width: 240px;
    border: solid;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0px; 
    padding: 0px;   
    box-sizing: border-box;
}
.btn-color{
    background-color: aqua;
}
.black {
    background-color: black;
}
.rainbow{
    background-color: red;
}